body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
}


table {
  height: 100vh;
  width: 100vw;
}

td {
  border: 1px dotted #333;
  /*transition: background-color 300ms ease;*/
}

input {
  position: absolute;
  bottom:0;
  right: 0;
}

/* DEMOS */

/*nth-child example*/
/*tr:nth-child(10) td:nth-child(10) {
  background-color: red;
}*/

/*hover psuedo-class selector example*/
/*td:hover {*/
  /*background-color: lightgrey;*/
/*}*/