body {
  height: 100vh;
  width: 100vw;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
}

.pixel {
  position: absolute;
  height: 4px;
  width: 4px;
}

input {
  position: absolute;
  bottom:0;
  right: 0;
  z-index: 1;
}